{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>IEQ Sede Uberaba</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body id="top">
        <section id="banner" data-video="../static/images/banner">
            <div class="inner">
                <header>
                    <h1>Quadrangular Sede Uberaba</h1>
                    <p>Garanta sua vaga para nossas celebrações presenciais<br />
                    faça sua <a href="#main">inscrição</a> e tenha um momento unico.</p>
                </header>
                <a href="#main" class="more">Veja Mais</a>
            </div>
        </section>

        <!-- Main -->
        <div id="main">
            <div class="inner">

            <!-- Boxes -->
                <div class="thumbnails">
                    {% for evento in eventos %}
                        <div class="box">
                            <a href="" class="image fit"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <h3>{{evento.nome}}</h3>
                                <p>{{evento.descricao}}</p>
                                <a href="inscricao/" class="button fit" data-poptrox="youtube,800x400">Inscreva-se</a>
                            </div>
                        </div>                   
                    {% endfor%}
                </div>

            </div>
        </div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->
        <script src="{% static 'js/jquery.min.js'  %}"></script>
        <script src="{% static 'js/jquery.scrolly.min.js'  %}"></script>
        <script src="{% static 'js/jquery.poptrox.min.js'  %}"></script>
        <script src="{% static 'js/skel.min.js'  %}"></script>
        <script src="{% static 'js/util.js'  %}"></script>
        <script src="{% static 'js/main.js'  %}"></script>


        

	</body>
</html>