<!doctype html>
<html lang="pt-br">

<head>
    <title>IEQ Sede Uberaba</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../static/css/my.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
</head>

<body>

    <div id="main">
        <div class="inner">
            <h3>Fazer Inscrição</h3>

            <form method="POST" enctype="multipart/form-data">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Fazer Inscrição</button>
            </form>
        </div>
    </div>


    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/jquery.poptrox.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>